/* helvetica neue
    font-family: 'Helvetica Neue', sans-serif;
    */
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Helvetica Neue', sans-serif;
}

.main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: combinedAnimation 1s ease;
}

/* Mobile */
@media screen and (max-width: 430px) {
    .main-container {
        width: 300px;
        margin: 20px auto;
    }
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h2 {
    font-size: 24px;
    color: #333;
}

.grid-container {
    display: flex;
    justify-content: space-between;
}

.grid-container .grid {
    text-align: center;
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-container .grid:hover {
    transform: translateY(-5px);
}

.grid-container h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.grid-container h5 {
    font-size: 16px;
    color: #666;
}

.grid-container a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin: 10px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.grid-container a:hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

.grid-container .grid-1,
.grid-2 {
    margin-right: 10px;
}

/*! Accuracy -- Part 1 !*/

.predefined-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 7gpx;
}

.predefined-values h5 {
    padding-bottom: 3px;
}

.predef-table {
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
}

.title {
    padding: 10px;
}

@keyframes combinedAnimation {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    animation: combinedAnimation 1s ease;
}

.heading h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideInLeft 1s ease;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.form-wrapper label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #007bff;
}

.form-wrapper input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #007bff;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-size: 16px;
    color: #333;
}

.form-wrapper input:focus {
    border-color: #0056b3;
}

.result-wrapper {
    margin-top: 20px;
    animation: slideInRight 1s ease;
}

@keyframes slideInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.table-container {
    overflow-x: auto;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

table th,
table td {
    padding: 15px;
    border: 2px solid #007bff;
}

table th {
    background-color: #007bff;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.instructions {
    margin-bottom: 20px;
    animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.instructions h5,
.displayArray h5 {
    font-size: 24px;
    color: #007bff;
}

.instructions p,
.displayArray h5 {
    color: #333;
    margin-bottom: 10px;
    font-size: 16px;
}

label {
    font-size: 16px;
    color: #333;
}

input[type='number'],
input[type='text'] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type='number']::placeholder {
    color: #999;
}

br {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #37aa5d;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(84, 128, 59);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #007bff;
    height: 5px;
}

::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
}
