* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    align-items: center;
    text-align: center;
}

/* hides up & down button inside input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}